<!-- Footer -->
<footer class="footer">
    <div class="container-fluid pattern-v1--color no-padding">
        <div class="g-pt-60 g-pb-40">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-left g-pt-10">
                        <img class="img-responsive g-mb-20 footer-logo__img" src="assets/img/logo-footer.png" alt="">
                        <p class="footer__text g-mb-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vitae est lorem. Aenean imperdiet nisi a dolor condimentum, id ullamcorper lacus vestibulum.</p>
                        <ul class="list-inline">
                            <li>
                                <a href="#" class="footer__social">
                                    <i class="icon-custom icon-sm rounded-x fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="footer__social">
                                    <i class="icon-custom icon-sm rounded-x fa fa-pinterest-p"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="footer__social">
                                    <i class="icon-custom icon-sm rounded-x fa fa-facebook"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-left">
                        <h2 class="footer__subtitle font-main">Latest posts</h2>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object footer-post__img" src="assets/img-temp/post-footer1.jpg" alt="">
                            </a>
                          </div>
                          <div class="media-body">
                            <span class="footer-post__date">April 27, 2015</span>
                            <h3 class="footer-post__title font-main"><a href="#">Mauris tellus magna, pretium a feugiat</a></h3>
                          </div>
                        </div>

                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object footer-post__img" src="assets/img-temp/post-footer2.jpg" alt="">
                            </a>
                          </div>
                          <div class="media-body">
                            <span class="footer-post__date">March 31, 2015</span>
                            <h3 class="footer-post__title font-main"><a href="#">Mauris tellus magna, pretium a feugiat</a></h3>
                          </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-left">
                        <h2 class="footer__subtitle font-main">useful links</h2>
                        <ul class="list-unstyled">
                            <li class="g-mb-5"><a href="" class="footer__ulink">- Fusce dolor libero, efficitur et lobortis</a></li>
                            <li class="g-mb-5"><a href="" class="footer__ulink">- Proin fermentum turpis eget nisi</a></li>
                            <li class="g-mb-5"><a href="" class="footer__ulink">- Mauris sodales tellus vel felis dapibus</a></li>
                            <li class="g-mb-5"><a href="" class="footer__ulink">- Ut pulvinar tellus sed elit luctus</a></li>
                            <li class="g-mb-5"><a href="" class="footer__ulink">- Proin sollicitudin turpis in massa rutrum</a></li>
                            <li><a href="" class="footer__ulink">- Vestibulum semper</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-left ">
                        <h2 class="footer__subtitle font-main">Some photos</h2>
                        <!-- Photostream -->
                        <ul class="list-inline blog-photostream">
                            <li class="img-hover-v2">
                                <a href="assets/img-temp/gallery1.jpg" class="cbp-caption cbp-lightbox" title="Image 1">
                                    <span><img class="img-responsive" src="assets/img-temp/footer__gallery1.jpg" alt=""></span>
                                </a>
                            </li>
                            <li class="img-hover-v2">
                                <a href="assets/img-temp/gallery2.jpg" class="cbp-caption cbp-lightbox" title="Image 2">
                                    <span><img class="img-responsive" src="assets/img-temp/footer__gallery2.jpg" alt=""></span>
                                </a>
                            </li>
                            <li class="img-hover-v2">
                                <a href="assets/img-temp/gallery3.jpg" class="cbp-caption cbp-lightbox" title="Image 3">
                                    <span><img class="img-responsive" src="assets/img-temp/footer__gallery3.jpg" alt=""></span>
                                </a>
                            </li>
                            <li class="img-hover-v2">
                                <a href="assets/img-temp/gallery4.jpg" class="cbp-caption cbp-lightbox" title="Image 4">
                                    <span><img class="img-responsive" src="assets/img-temp/footer__gallery4.jpg" alt=""></span>
                                </a>
                            </li>
                            <li class="img-hover-v2">
                                <a href="assets/img-temp/gallery5.jpg" class="cbp-caption cbp-lightbox" title="Image 5">
                                    <span><img class="img-responsive" src="assets/img-temp/footer__gallery5.jpg" alt=""></span>
                                </a>
                            </li>
                            <li class="img-hover-v2">
                                <a href="assets/img-temp/gallery6.jpg" class="cbp-caption cbp-lightbox" title="Image 6">
                                    <span><img class="img-responsive" src="assets/img-temp/footer__gallery6.jpg" alt=""></span>
                                </a>
                            </li>
                        </ul>
                        <!-- End Photostream -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->
