<!--=== Footer v4 ===-->
<div class="footer-v4">
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2016 &copy; SmartCook. All Rights Reserved.
                        <a href="#/aboutUs">¿Quiénes Somos?</a>
                    </p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline sponsors-icons pull-right">
                        <li><i class="fa fa-graduation-cap"></i></li>
                        <li><i class="glyphicon glyphicon-apple"></i></li>
                        <li><i class="glyphicon glyphicon-grain"></i></li>
                        <li><i class="fa fa-leaf"></i></li>
                        <li><i class="fa fa-cutlery"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer v4 ===-->
