<!--=== Footer v4 ===-->
<div class="footer-v4">
    <div class="copyright" style="padding: 7px 0; padding-bottom: 19px;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2016 &copy; SmartCook. Derechos reservados.
                        <a href="#/aboutUs">¿Quiénes Somos?</a>
                    </p>
                </div>

            </div>
        </div>
    </div><!--/copyright-->
</div>
<!--=== End Footer v4 ===-->
