<div class="header-v5 header-static header-fixed-shrink">
    <!-- Topbar v3 -->
    <div class="topbar-v3">
        <div class="search-open">
            <div class="container">
                <input type="text" class="form-control" placeholder="Search">
                <div class="search-close"><i class="icon-close"></i></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="left-topbar">
                        <li>
                            <a>Currency (USD)</a>
                            <ul class="currency">
                                <li class="active">
                                    <a href="#/">USD <i class="fa fa-check"></i></a>
                                </li>
                                <li><a href="#/">Euro</a></li>
                                <li><a href="#/">Pound</a></li>
                            </ul>
                        </li>
                        <li>
                            <a>Language (EN)</a>
                            <ul class="language">
                                <li class="active">
                                    <a href="#/">English (EN)<i class="fa fa-check"></i></a>
                                </li>
                                <li><a href="#/">Spanish (SPN)</a></li>
                                <li><a href="#/">Russian (RUS)</a></li>
                                <li><a href="#/">German (GRM)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="list-inline right-topbar pull-right">
                        <li><a href="#/">Account</a></li>
                        <li><a href="shop-ui-add-to-cart.html">Wishlist (0)</a></li>
                        <li><a href="shop-ui-login.html">Login</a> | <a href="shop-ui-register.html">Register</a></li>
                        <li><i class="search fa fa-search search-button"></i></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar v3 -->

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-right: 0px;margin-left: 9px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" style="margin-right: 0px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <img id="logo-header" src="assets/img/logo.png" alt="Logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <!-- Nav Menu -->
                <ul class="nav navbar-nav" style="margin-right: 0px;">

                    <!-- Promotion -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Hmaschwitz
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#profile">Perfil</a></li>
                            <li><a href="#/">Salir</a></li>
                        </ul>
                    </li>
                    <!-- End Promotion -->

                    <!-- Gifts -->
                    <li class="dropdown mega-menu-fullwidth">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Cargar receta
                        </a>
                    </li>
                    <!-- End Gifts -->

                    <!-- Promotion -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Buscar
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/">Por ingredientes</a></li>
                            <li><a href="#/">Por nombre</a></li>
                        </ul>
                    </li>
                    <!-- End Promotion -->

                    <!-- Clothes -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="1000">
                            Listados
                        </a>
                    </li>
                    <!-- End Clothes -->

                    <!-- Clothes -->
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" data-delay="1000">
                            Validar
                        </a>
                    </li>
                    <!-- End Clothes -->
                </ul>
                <!-- End Nav Menu -->
            </div>
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v5 ===-->
