<div class="header-v5 header-static header-fixed-shrink">
    <!-- Topbar v3 -->
    <div class="topbar-v3">
        <div class="search-open">
            <div class="container">
                <input type="text" class="form-control" placeholder="Search">
                <div class="search-close"><i class="icon-close"></i></div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="left-topbar">
                        <li>
                            <a>Currency (USD)</a>
                        </li>
                        <li>
                            <a>Language (EN)</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar v3 -->

    <!-- Navbar -->
    <div class="navbar navbar-default mega-menu" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="margin-right: 0px;margin-left: 9px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse" style="margin-right: 0px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" style="display:flex">
                    <img id="logo-header" src="assets/img/newLogo.png" alt="Logo" style="height: 36px;width: 56px;">
                    <h3>SMARTCOOK</h3>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <!-- Nav Menu -->
                <ul class="nav navbar-nav navbar-right" style="margin-right: 0px;">

                    <!-- Profile -->
                    <li class="dropdown" style ="position: relative" >
                        <a href="#profile" ng-if="token()" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            <div ng-bind="username"></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#profile">Perfil</a></li>
                            <li><a ng-click="logOut()">Salir</a></li>
                        </ul>
                    </li>
                    <!-- End Profile -->

                    <!-- Search -->
                    <li class="dropdown" style ="position: relative" >
                        <a href="#/" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Buscar
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#/">Por ingredientes</a></li>
                            <li><a href="#listing">Por nombre</a></li>
                            <li><a href="#top-listing">Destacados</a></li>
                        </ul>
                    </li>
                    <!-- End Search -->


                    <!-- Load -->
                    <li class="dropdown">
                        <a href="#/Recipe/Create" ng-if="token()" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Cargar
                        </a>
                    </li>
                    <!-- End Load -->

                    <!-- Validate -->
                    <li class="dropdown">
                        <a href="#validate" ng-if="token()" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Validar
                        </a>
                    </li>
                    <!-- End Validate -->
                    <li class="dropdown">
                        <a href="#/login" ng-if="!token()" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">
                            Ingresar
                        </a>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input 
                            ng-model = "itemSelected" 
                            typeahead-min-length="3" 
                            typeahead-append-to-body="false"  
                            typeahead-on-select="getDetails(itemSelected)" 
                            typeahead = "item as item.name for item in getItem($viewValue)" 
                            type="text" 
                            class=" search-input form-control" 
                            placeholder="Buscar recetas, ingredientes"
                            typeahead-input-formatter="empty"
                            >
                    </div>
                </form>
                <!-- End Nav Menu -->
            </div>
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header v5 ===-->