<div class="product-img">
    <a>
        <!--<img class="full-width img-responsive" style="height: 290px;" src="assets/img/blog/09.jpg" alt="">-->
        <div style="background-image: url({{ingredient.image}}); height:290px; background-position:center;background-size: cover; opacity:0.10"></div>
    </a>
</div>
<div class="product-description product-description-brd empty-ing-pos" style="padding:15px; padding-bottom:18px;" >
    <div class="overflow-h margin-bottom-5">
        <div ng-show="isEmpty(ingredient)">
            <input type="text" 
                   ng-model="ingredientSelected" 
                   placeholder="Escriba el ingrediente" 
                   typeahead="ing as ing.name for ing in getIngredients() | 
                             filter: {name: $viewValue, celiac:celiac, vegan:vegan, vegetarian:vegetarian, diabetic:diabetic } | orderBy :'name'| limitTo : 10"
                   class="form-control"  
                   typeahead-append-to-body="true" 
                   typeahead-on-select="updateIngredientToFull(ingredientSelected, ingredient)"
                   typeahead-editable="false" 
                   typeahead-input-formatter="empty">
        </div>
    </div>
</div>
