.navbar-form .form-control.search-input{
    border-radius: 15px;
    width: 340px;
    margin-top: 4%;
    margin-left: 55%;
}

@media (max-width: 1207px){
.navbar-form .form-control.search-input {
    margin: 0px;
     border-radius: 15px;
     width: 300px;
    }   
}