.navbar-form .form-control.search-input{
    border-radius: 15px;
    width: 340px;
    margin-top: 4%;
    margin-left: 55%;
}

@media (max-width: 1207px){
.navbar-form .form-control.search-input {
    margin: 0px;
     border-radius: 15px;
     width: 300px;
    }   
}

 .dropdown-menu {
    padding: 0;
    border: none;
    min-width: 200px;
    border-radius: 0;
    z-index: 1;
    box-shadow: 0 5px 5px 0px rgba(90,90,90,0.075);
}

.dropdown-menu > li > a {
    transition: all 0.2s ease;
    padding:5% !important;  
    }

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff !important;
    background: #18ba9b !important;
    background-color: none !important;
}

.animate-show {
  padding: 10px;
  background: white;
   transition: all linear 0.5s;
}

.animate-show.ng-hide-add, .animate-show.ng-hide-remove {
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
