<!DOCTYPE html>
<html lang="en" ng-app="MainApp">
<head>
    <% include partials/_head %>
</head>
<body ng-controller="MenuController">
    <% include partials/_menu %>
    <ng-view></ng-view>
    <% include partials/_footer %>
</body>
</html>
