.label-form-ingredient{
    color:#687074;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: normal;
}

.panel-align{
    padding-top: 20px;
    border-left-width: 20px;
    padding-left: 15px;
    border-right-width: 15px;
}

.menu-bar-space{
  padding-top: 90px;
  border-radius: 0px;
}

.step-textArea{
    font-size:large; 
    margin-left:20px; 
    width: 100%; 
    border: none; 
    outline: none; 
    resize: none; 
    overflow: hidden; 
    word-wrap: break-word; 
    height: 30px; 
    background: none;
    border-radius: 20px;
    margin-top: 5px;
}

.step-textArea:hover{
    color: #18ba9b;
    border-color: #18ba9b;
}

.numberStep{
    float: left;
}

.center-div{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}