<div class="container" style="padding-top: 90px;">
    <div class="col-md-12"
         style="background-image: url(https://k61.kn3.net/4/9/4/5/5/5/1AE.jpg);
         background-size: contain;min-height: 200px;text-align: center; background-repeat:repeat-x">
    </div>
    <div class="col-md-12" style="bottom: 75px;text-align: center;">
        <h1 style="color: white">SmartCook</h1>
    </div>
    <div class="row">
        <div class="col-sm-4" style="text-align:center">
            <h4>Matías León Peralta</h4>
            <img src="assets/img/profile/Matias.jpg" class="img-circle" style="height:128px; width:128px;">
        </div>
        <div class="col-sm-4" style="text-align:center">
            <h4>Agustín Modugno</h4>
            <img src="assets/img/profile/Agustin.jpg" class="img-circle" style="height:128px; width:128px;">
        </div>
        <div class="col-sm-4" style="text-align:center">
            <h4>Gonzalo Fernández</h4>
            <img src="assets/img/profile/Gonzalo.jpg" class="img-circle" style="height:128px; width:128px;">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2" style="text-align:center">
            <h4>Hernán Maschwitz</h4>
            <img src="assets/img/profile/Hernan.jpg" class="img-circle" style="height:128px; width:128px;">
        </div>
        <div class="col-sm-4" style="text-align:center">
            <h4>Gustavo Perrotta</h4>
            <img src="assets/img/profile/Gustavo.jpg" class="img-circle" style="height:128px; width:128px;">
        </div>
    </div>
    <div class="row">
        <h3 style="margin-top: 50px; text-align: center">Alguna sugerencia? Contactanos: <b>SmartCook@gmail.com</b></h3>
    </div>
</div>
