<div class="modal-content">
    <div class="modal-header">
        <h2>Agregar comensal a busqueda</h2>
    </div>
    <div class="modal-body">
        <div ng-show="users.length < 1"><h3>No tiene comenesales frecuentes elegidos </h3> </div>
        <div ng-repeat="user in users track by $index" style="padding-bottom:15px;">
            <img ng-src="{{user.avatar}}" class="img-responsive img-circle" alt="{{user.username}} profile picture" style="max-width:100px; display:inline">
            <h2 style="display:inline; text-transform:uppercase">{{user.username}}</h2>
            <button class="addCommensalButton" type="btn">
                <i class ="fa fa-2x "  ng-class="{'fa-star':user.added, 'fa-star-o':!user.added }" 
                   ng-mouseover="hoverAddCommensalButton($event)"
                   ng-mouseleave="hoverAddCommensalButton($event)"
                   ng-click="actionCommensal(user, $event)"></i>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="ok()" class="btn-u btn-u-sea-shop btn-u-sm">Aceptar</button>
    </div>
</div>