<div class="modal-header">
    <h3 class="modal-title">CONFIRMACION</h3>
</div>
<div class="modal-body">
    <p>{{message}}</p>
</div>
<div class="modal-footer">
    <button class="btn-u btn-u-sea-shop btn-u-sm" type="button" ng-click="ok()">OK</button>
    <button class="btn-u btn-u-sea-shop btn-u-sm" type="button" ng-click="cancel()">Cancel</button>
</div>