<div>
    <img src="img/cooming/cooming.jpg" class="img-responsive" alt="Responsive image">
    <countdown  autostart="true" time="5500000" colors="flat-colors-very-wide" callback="finished()"></countdown>
</div>