<div class="container" style="padding-top: 90px;">
    <form name="recipeForm" ng-submit="validateForm(recipeForm.$valid)" novalidate>
        <div class="row">
            <div class="col-md-4">
                <div ng-show="picFile">
                    <div ngf-drop ngf-select ng-model="picFile" ngf-drag-over-class="'dragover'" accept="image/*">
                        <img class="img-rounded" width="300px" height="300px" ngf-thumbnail="picFile">
                    </div>
                </div>
                <div ng-show="!picFile" ngf-drop ngf-select ng-model="picFile" ngf-drag-over-class="'dragover'" accept="image/*">
                    <span style="cursor:pointer">
                        <img class="img-responsive" alt="Responsive image" ng-src="img/Placeholder-food.jpg">
                    </span>
                </div>
                <div class="col-sm-12" style="padding-left:0px">
                    <span class="btn fa fa-pencil fa-2x profile-edit-button" ngf-select ng-model="picFile"></span>
                </div>
            </div>
            <div class="col-md-6 ">
                <div class="form-group ">
                    <label class="label-form-ingredient "> Nombre Receta </label>
                    <input name="nameRecipe" ng-model="recipe.name " type="text " class="form-control " placeholder="Escriba el nombre de la receta aqui "
                        required>
                    <p ng-show="recipeForm.nameRecipe.$invalid && submitted " style="color:red; ">La receta debe tener un nombre</p>
                </div>
                <div class="form-group ">
                    <label class="label-form-ingredient "> Ingredientes </label>
                    <tags-input name="ingredients " ng-model="recipe.ingredients " placeholder="Escriba el ingrediente aqui" display-property="name "
                        add-from-autocomplete-only="true ">
                        <auto-complete min-length="1 " source="loadIngredients($query) " max-results-to-show="10" highlight-matched-text=false></auto-complete>
                    </tags-input>
                    <p ng-show=" !(recipe.ingredients.length> 0) && submitted" style="color:red;">La receta debe de tener al menos un Ingrediente</p>
                </div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-md-8">
                <div class="form-group">
                    <label class="label-form-ingredient">Breve Descripcion</label>
                    <textarea id="item" class="desc-text-area" msd-elastic ng-model="recipe.description" placeholder="Escriba una breve descripcion aqui..."></textarea>
                </div>
            </div>
        </div>
        <div ng-show = "!isIngredientsEmpty()" class="row">
            <div class = "col-md-6">
                <table class ="table table-bordered">
                    <thead >
                        <tr>
                            <th>Ingrediente</th>
                            <th>Cantidad </th>
                            <th>Unidad</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="ing in recipe.ingredients track by $index">
                        <tr>
                            <td>
                                {{ing.name}}
                            </td>
                            <td>
                                <input ng-model="ing.quantity" type="number">
                            </td>
                            <td>
                                <select ng-model="ing.unit" ng-options="unity.name for unity in units"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 20px;">
                <div class="row panel-align" style="margin-right:0px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Pasos para la preparacion de la receta</h3>
                        </div>
                        <div class="panel-body">
                            <h3>Pasos</h3>
                            <div ng-repeat="step in recipe.steps track by $index">
                                <div class="row">
                                    <div class="col-md-8">
                                        <h4 class="numberStep"> {{$index + 1 }}</h4>
                                        <textarea id="item" class="step-textArea" msd-elastic ng-model="step" placeholder="Escriba su paso aqui...">
                                            {{step}}
                                        </textarea>
                                    </div>
                                    <div class="col-md-8">
                                        <button ng-show="true" type="button" class="btn btn-default btn-xs" ng-click="deleteStep($index)">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <br>
                                    <textarea class="step-textArea" msd-elastic ng-model="stepToAdd" placeholder="Escriba su paso aqui..."></textarea>
                                    <p class="step-location" ng-show=" stepErrorMessage" style="color: red;">{{stepErrorMessage}}</p>
                                    <div class="step-location">
                                        <button style="border-color: #18ba9b; color: #18ba9b; background-color: #fff;" ng-click="addStep()" type="button" class="btn btn-default">
                                            <i class="glyphicon glyphicon-plus"> </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p ng-show=" !(recipe.steps.length > 0) && submitted" style="color:red;">La receta debe de tener al menos un Paso</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-bottom: 20px;">
                <button type="submit" class="btn-u btn-u-sea-shop btn-u-md">Guardar Receta</button>
            </div>
        </div>
    </form>
</div>