<div class = "container" style = "padding-top: 90px;">
    <div class = "row">
        <div class = "col-md-6">
            <div>
                <div>
                    <img src="img/recipePhoto.jpg">
                </div>   
            </div>
        </div>
        <div class="col-md-6">
                <form>
                    <div class = "form-group">
                        <label class="label-form-ingredient"> Nombre Receta </label>
                        <input ng-model="nameRecipe" type = "text" class= "form-control" placeholder="Nombre">
                    </div> 
                    <div class = "form-group">
                        <label class="label-form-ingredient"> Ingrediente </label>
                        <input type = "text" class= "form-control" placeholder="Nombre">
                    </div>   
                </form>    
            <div >
                <h3 class = "text-uppercase"> Ingredientes Seleccionados </h3>
                <input type = "text" class= "form-control">
            </div>    
        </div>
    </div>
    <div class = "row">
        <div class = col-md-12 style="padding-top: 20px;">
            <div class="row">
                <form >
                    <div class="form-group">
                        <div class="col-md-10">
                            <input ng-model="stepToAdd" type = "text" class= "form-control" placeholder="Escriba el paso aqui" style="height: 40px;">
                        </div>
                        <div class="col-md-2" style="text-align:right">
                            <button type="button" ng-click="addStep()" class="btn-u btn-u-sea-shop btn-u-md">Agregar Paso </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class ="row panel-align" style="margin-right:0px">
                <div class= "panel panel-default">
                    <div class = "panel-heading">
                        <h3 class = "panel-title">Pasos para la preparacion de la receta</h3>
                    </div>
                    <div class = "panel-body">
                        <div ng-repeat="step in steps track by $index">
                            <div class = "highlight" style="margin-top: 10px; margin-bottom: 10px;">
                                <h4> Paso {{$index + 1 }}</h4>
                                <p>{{step.step}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        <div class = col-md-12 style="margin-bottom: 20px;">
            <button type="button" ng-click="saveRecipe()" class="btn-u btn-u-sea-shop btn-u-md">Guardar Receta</button>
        </div>
    </div>
</div>