<div class="container" style="padding-top: 90px;">
    <form name="recipeForm" ng-submit="validateForm(recipeForm.$valid)" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <div>
                        <img src="img/recipePhoto.jpg">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="label-form-ingredient"> Nombre Receta </label>
                    <input name="nameRecipe" ng-model="nameRecipe" type="text" class="form-control" placeholder="Escriba el nombre de la receta aqui"
                        required>
                    <p ng-show="recipeForm.nameRecipe.$invalid && submitted" style="color:red;">La receta debe tener un nombre</p>
                </div>
                <div>
                    <label class="label-form-ingredient"> Ingredientes </label>
                    <tags-input  name="ingredients" ng-model="ingredients" placeholder="Escriba el ingrediente aqui" display-property="name" add-from-autocomplete-only="true">
                        <auto-complete min-length="0" source="loadIngredients($query)"></auto-complete>
                    </tags-input>
                    <p ng-show=" !(ingredients.length > 0)  && submitted" style="color:red;">La receta debe de tener al menos un Ingrediente</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 20px;">
                <div class="row panel-align" style="margin-right:0px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Pasos para la preparacion de la receta</h3>
                        </div>
                        <div class="panel-body" >
                            <h3>Pasos</h3>
                            <div ng-repeat="step in steps track by $index">
                                <div class = "row">
                                    <div class="col-md-8">
                                        <h4 class="numberStep"> {{$index + 1 }}</h4>
                                        <textarea id="item"  class="step-textArea" msd-elastic ng-model = "steps[$index].step " placeholder="Escriba su paso aqui..." >
                                            {{step.step}}
                                        </textarea>
                                    </div>
                                    <div class="col-md-8">
                                            <button ng-mouseover ng-show="true" type="button" class="btn btn-default btn-xs" ng-click="deleteStep($index)">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <br>
                                    <textarea  class="step-textArea" msd-elastic ng-model="stepToAdd" placeholder="Escriba su paso aqui..."></textarea>
                                    <p class="step-location" ng-show=" stepErrorMessage" style="color: red;">{{stepErrorMessage}}</p>
                                    <div class ="step-location" > 
                                        <button style ="border-color: #18ba9b; color: #18ba9b; background-color: #fff;" ng-click="addStep()"  type="button" class="btn btn-default">
                                            <i class="glyphicon glyphicon-plus"> </i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p ng-show=" !(steps.length > 0) && submitted" style="color:red;">La receta debe de tener al menos un Paso</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-bottom: 20px;">
                <button type="submit" class="btn-u btn-u-sea-shop btn-u-md">Guardar Receta</button>
            </div>
        </div>
    </form>
</div>

 <script type="text/ng-template" id="my-custom-template">
      <div class="left-panel">
        <img ng-src="http://mbenford.github.io/ngTagsInput/images/flags/{{data.flag}}" />
      </div>
      <div class="right-panel">
        <span ng-bind-html="$highlight($getDisplayText())"></span>
        <span>({{data.rank}})</span>
        <span>{{data.confederation}}</span>
      </div>
    </script>