<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3">
    <div class="container text-center">
        <h1 style="margin-bottom: -7px;margin-top: 51px;">RECETAS FAVORITAS</h1>
    </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->
<div class="container">
    <div class="content container">
        <div class="row">
            <div class="col-md-12">
                <div class="filter-results">
                    <div class="list-product-description product-description-brd margin-bottom-30"
                         ng-repeat="recipe in recipes track by $index">
                        <div class="row">
                            <div class="col-sm-4">
                                <a>
                                    <div back-img image="recipe.image_url" style="height:290px"></div>
                                </a>
                            </div>
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a class="text-uppercase">{{recipe.name}}</a>
                                            </h4></li>
                                        <li class="pull-right">
                                            <input-stars class="userVotedStar" ng-if="userVote(recipe) != null" max="5" ng-model="getUserVote(recipe)" ng-model-options="{getterSetter: true }" readonly></input-stars>
                                            <input-stars ng-if="userVote(recipe) == null" max="5" on-star-click="voteRecipe(recipe)" ng-model="recipe.stars" ng-attr-readonly="{{ !isLogged }}" ng-click="isConnected()"></input-stars>
                                        </li>
                                    </ul>
                                    <p class="margin-bottom-20" style="height: 100px;">{{recipe.description}}</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li>
                                            <button type="button" class="btn-u btn-u-sea-shop"
                                                    ng-click="getDetailsRecipe(recipe.id)">
                                                Ver receta
                                            </button>
                                        </li>
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <a ng-click="removeFromFavorites(recipe,$event)" style="cursor: pointer;">
                                                Remover de favoritos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/end filter resilts-->

            </div>
        </div><!--/end row-->
    </div><!--/end container-->


</div>
