<!--=== Product Content ===-->
<div class="container content-md" style="padding-top: 90px; padding-bottom: 0px;">
    <!--=== Illustration v2 ===-->
    <div class="illustration-v2">
        <ul class="list-inline owl-slider">
            <li class="item" ng-repeat="ingredient in ingredientsTemplate" on-finish-ingredients-render>
                <div ng-include="'general/ingredients/empty-ing-template'" ng-show="isEmpty(ingredient)"></div>
                <div ng-include="'general/ingredients/ing-template'" ng-show="!isEmpty(ingredient)"></div>
            </li>
        </ul>
    </div>
    <!--=== End Illustration v2 ===-->
    <div class="row" style="text-align:center">
        <div class="col-sm-2">
            <button type="button" class="btn-u btn-u-sea-shop recipe-search-button" ng-click="search()">Buscar</button>
        </div>
        <div class="col-sm-2">
            <button type="button" class="btn-u btn-u-sea-shop recipe-search-button" ng-click="removeIngredients()">
                Remover Ingredientes
            </button>
        </div>
        <!-- <div class="col-sm-2">
             <button type="button" class="btn-u btn-u-sea-shop recipe-search-button" ng-click="resetSearch()">Nueva
                 busqueda
             </button>
         </div> -->
        <div ng-show="isLogged()" class="col-sm-2">
            <button type="button" class="btn-u btn-u-sea-shop recipe-search-button" ng-click="addDiner()">
                Agregar comensales
            </button>
        </div>
    </div>
    <div ng-show="isLogged()">
        <form name="settingsForm">
            <div class="box-options animate-show">
                <div class="form-group">
                    <label class="label-form-ingredient">
                        <input type="checkbox" ng-model="omitRestrictions"/>
                        Omitir restricciones alimenticias
                    </label>
                </div>
                <div class="form-group">
                    <label class="label-form-ingredient">
                        <input type="checkbox" ng-model="omitDislikeIngs"/>
                        Omitir ingredientes que no me gustan
                    </label>
                </div>
                <div class="form-group">
                    <label class="label-form-ingredient">
                        <input type="checkbox" ng-model="omitCategories"/>
                        Omitir categorias excluidas
                    </label>
                </div>
            </div>
        </form>
    </div>
</div>

<!--=== End Product Content ===-->
<div ng-if="noResult">
    <p>NO SE ENCONTRARON RESULTADOS</p>
</div>

<!--=== Content Part ===-->
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="filter-results">
                <div class="list-product-description product-description-brd margin-bottom-30" ng-repeat="recipe in recipes">
                    <div class="row">
                        <div class="col-sm-4">
                            <!--<div style="background-image: url({{recipe.image_url}}); height:290px; background-position:center;background-size: cover;"></div>-->
                            <div back-img="{{recipe.image_url}}" style="height:290px"></div>
                            </a>
                        </div>
                        <div class="col-sm-8 product-description">
                            <div class="overflow-h margin-bottom-5">
                                <ul class="list-inline overflow-h">
                                    <li>
                                        <h4 class="title-price"><a class="text-uppercase">{{recipe.name}}</a>
                                        </h4>
                                    </li>
                                    <li class="pull-right">
                                        <ul class="list-inline product-ratings">
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating fa fa-star"></i></li>
                                            <li><i class="rating fa fa-star"></i></li>
                                        </ul>
                                    </li>
                                </ul>
                                <p class="margin-bottom-20" style="height: 100px;">{{recipe.description}}</p>
                                <ul class="list-inline add-to-wishlist margin-bottom-20">
                                    <li class="wishlist-in">
                                        <i class="fa fa-heart"></i>
                                        <!--<a >Agregar a favoritos</a>-->
                                        <a ng-if="isFavorite(recipe)" ng-click="removeFromFavorites(recipe)" style="cursor: pointer;">Remover de favoritos</a>
                                        <a ng-if="!isFavorite(recipe)" ng-click="addToFavorites(recipe)" style="cursor: pointer;">Agregar a favoritos</a>
                                    </li>
                                </ul>
                                <button type="button" class="btn-u btn-u-sea-shop" ng-click="getDetailsRecipe(recipe.id)">Ver receta
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/end filter resilts-->
        </div>
    </div>
    <!--/end row-->
</div>
<!--/end container-->

<!--=== Twitter-Block ===-->
<div class="parallaxBg twitter-block margin-bottom-60">
    <div class="container">
        <div class="heading heading-v1 margin-bottom-20">
            <h2>COMO EMPEZAR</h2>
        </div>

        <div id="carousel-example-generic-v5" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li class="active rounded-x" ng-non-bindable class="left carousel-control" data-target="#carousel-example-generic-v5" data-slide-to="0"></li>
                <li class="rounded-x" ng-non-bindable class="left carousel-control" data-target="#carousel-example-generic-v5" data-slide-to="1"></li>
                <li class="rounded-x" ng-non-bindable class="left carousel-control" data-target="#carousel-example-generic-v5" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <p>Primero <a href="#/register">create un perfil</a> e ingresa con él.
                        <p>
                            <ul class="list-inline twitter-icons">
                                <li><a href="#/"><i class="fa fa-user-plus"></i></a></li>
                                <li><a href="#/"><i class="fa fa-graduation-cap"></i></a></li>
                                <li><a href="#/"><i class="fa fa-users"></i></a></li>

                            </ul>
                </div>
                <div class="item">
                    <p>Una vez registrado, <a href="#/Recipe/Create">crea tu propia receta</a>.</p>
                    <ul class="list-inline twitter-icons">
                        <li><a href="#/"><i class="fa fa-edit"></i></a></li>
                        <li><a href="#/"><i class="fa fa-cutlery"></i></a></li>
                        <li><a href="#/"><i class="fa fa-graduation-cap"></i></a></li>
                    </ul>
                </div>
                <div class="item">
                    <p>Si querés colaborar, <a href="#/validate">validá recetas de la comunidad!</a></p>
                    <ul class="list-inline twitter-icons">
                        <li><a href="#/"><i class="fa fa-check"></i></a></li>
                        <li><a href="#/"><i class="fa fa-cutlery"></i></a></li>
                        <li><a href="#/"><i class="fa fa-close"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="carousel-arrow">
                <a class="left carousel-control" class="left carousel-control" href="#carousel-example-generic-v5" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="right carousel-control" class="left carousel-control" href="#carousel-example-generic-v5" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!--=== End Twitter-Block ===-->

<!--=== Product Service ===-->
<div class="row margin-bottom-60">
    <div class="col-md-4 col-md-offset-2 product-service md-margin-bottom-30">
        <div class="product-service-heading">
            <i class="fa fa-trophy"></i>
        </div>
        <div class="product-service-in">
            <h3>TOP RECETAS CALIFICADAS</h3>
            <p>Entra aquí para ver un ranking de las recetas mejor calificadas por los usuarios de SmartCook
            </p>
            <a href="#/topQualified">Mejores Calificadas</a>
        </div>
    </div>
    <div class="col-md-4 product-service md-margin-bottom-30">
        <div class="product-service-heading">
            <i class="fa fa-tags"></i>
        </div>
        <div class="product-service-in">
            <h3>TOP RECETAS CATEGORIAS</h3>
            <p>Entra aquí para ver un ranking de las recetas mejor calificadas dentro de una categoría específica
            </p>
            <a href="#/topCategories">Mejores según Categoría</a>
        </div>
    </div>
</div>
<!--/end row-->
<!--=== End Product Service ===-->

<div class="container">

</div>
<!--/end container-->

<!--=== Shop Suvbscribe ===-->
<div class="shop-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-8 md-margin-bottom-20">
                <h2>NO PIERDAS TIEMPO Y CONVERTITE EN UN <strong>SMARTCOOK</strong></h2>
            </div>
        </div>
    </div>
    <!--/end container-->
</div>
<!--=== End Shop Suvbscribe ===-->