<!--=== Breadcrumbs v4 ===-->
<div class="breadcrumbs-v4" style="padding-top: 90px; padding-bottom: 200px; background-image: url(../img/Food.jpg);">
  <div class="container">
    <span class="page-name">Log In</span>
  </div><!--/end container-->
</div>
<!--=== End Breadcrumbs v4 ===-->

<!--=== Login ===-->
<div class="log-reg-v3 content-md">
  <div class="container">
    <div class="row">
      <div class="col-md-7 md-margin-bottom-50">
        <h2 class="welcome-title">Bienvenidos a SmartCook</h2>
        <p>Suspendisse et tincidunt ipsum, et dignissim urna. Vestibulum nisl tortor, gravida at magna et, suscipit vehicula massa.</p><br>
        <div class="info-block-v2">
          <i class="icon icon-layers"></i>
          <div class="info-block-in">
            <h3>Pellentesque vulputate</h3>
            <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
          </div>
        </div>
        <div class="info-block-v2">
          <i class="icon icon-settings"></i>
          <div class="info-block-in">
            <h3>Curabitur tincidunt</h3>
            <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
          </div>
        </div>
        <div class="info-block-v2">
          <i class="icon icon-paper-plane"></i>
          <div class="info-block-in">
            <h3>Aenean condimentum</h3>
            <p>Vestibulum non ex volutpat, sodales diam sit amet, semper nunc. Integer sed nibh commodo, tincidunt nisi.</p>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <form id="sky-form1" name ="userLogin" novalidate class="log-reg-block sky-form" ng-submit="login(userLogin.$valid)">
          <h2>Log in to your account</h2>

          <section ng-class="{ 'has-error': userForm.email.$invalid}">
            <label class="input login-input">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="email" placeholder="Email Address" name="email" class="form-control" ng-model="userEmail" required>
              </div>
            </label>
          </section>
          <section ng-class="{ 'has-error': userForm.pass.$invalid}">
            <label class="input login-input no-border-top">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" placeholder="Password" name="password" class="form-control" ng-model="userPass" required>
              </div>
            </label>
          </section>
          <div class="row margin-bottom-5">
            <div class="col-xs-6">
              <label class="checkbox">
                <input type="checkbox" name="checkbox"/>
                <i></i>
                Remember me
              </label>
            </div>
            <div class="col-xs-6 text-right">
              <a href="#">Forget your Password?</a>
            </div>
          </div>
          <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Log in</button>
            <div ng-messages="userLogin.email.$error" ng-if="formSubmited">
                <p style=" color:red;" ng-message="required">Your mail is required.</p>
                <p style=" color:red;" ng-message="email">This needs to be a valid email</p>
            </div>
            <div ng-messages="userLogin.password.$error" ng-if="formSubmited">
                <p style=" color:red;" ng-message="required">Your password is required.</p>
            </div>
            <div>
                <p style=" color:red;">{{messageLogin}}</p>
            </div>
        </form>

        <div class="margin-bottom-20"></div>
        <p class="text-center">Don't have account yet? Learn more and <a href="#/register">Sign Up</a></p>
      </div>
    </div><!--/end row-->
  </div><!--/end container-->
</div>
<!--=== End Login ===-->
