<div class="container" style="padding-top: 90px;">
    <form name="recipeForm" ng-submit="validateForm(recipeForm.$valid)" novalidate>
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img src="img/profile-avatar.jpg" width="300px" height="300px">
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <label class="profile-username">{{userName}}</label>
                </div>
                <div class="row">
                    <label class="profile-email">{{userEmail}}</label>
                </div>
                <div class="row">
                    <hr>
                </div>
                <div class="row">
                    <label class="profile-restrictions">Restricciones Alimenticias</label>
                </div>
                <div ng-repeat="restriction in userRestrictions" ng-if="$index % 2 == 0" class="row">
                    <div class="col-xs-4">
                        <label class="restrictionItem">
                            <input
                                    type="checkbox"
                                    name="selectedRestrictions[]"
                                    value="{{userRestrictions[$index]}}"
                                    ng-checked="restrictionsSelection.indexOf(userRestrictions[$index]) > -1"
                                    ng-click="toggleSelection(userRestrictions[$index])"
                            > {{userRestrictions[$index]}}
                        </label>
                    </div>
                    <div class="col-xs-4" ng-if="userRestrictions.length > ($index + 1)">
                        <label class="restrictionItem">
                            <input
                                    type="checkbox"
                                    name="selectedRestrictions[]"
                                    value="{{userRestrictions[$index+1]}}"
                                    ng-checked="restrictionsSelection.indexOf(userRestrictions[$index+1]) > -1"
                                    ng-click="toggleSelection(userRestrictions[$index+1])"
                            > {{userRestrictions[$index+1]}}
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 20px;">
                <div class="row panel-align" style="margin-right:0px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Mis Recetas</h3>
                        </div>
                        <div class="panel-body">

                                <div class="col-xs-6 col-md-3 userRecipe" ng-repeat="recipe in userRecipes" style="text-align:center">
                                    <a class="thumbnail">
                                        <img ng-src="{{recipe.photo}}" alt="...">
                                    </a>
                                    <div class="recipeEdit">
                                        <a href="">Editar</a>
                                    </div>
                                    <label>
                                        {{recipe.name}}
                                    </label>
                                </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--
El usuario ingresa los siguientes datos:
Nombre y Apellido.
Género.
Fecha de nacimiento.
Foto.
Dirección de email.
Contraseña.
Nombre de usuario.
El usuario selecciona los ingredientes que desea excluir en la búsqueda de una receta.
El usuario selecciona los categorías que desea excluir en la búsqueda de una receta.
El usuario selecciona restricciones alimenticias.
El usuario selecciona el botón Registrar.
-->