<div class="container" style="padding-top: 90px;">
    <form name="recipeForm" ng-submit="validateForm(recipeForm.$valid)" novalidate>
        <div class="row">
            <div flow-init class="col-sm-6">
                <div>
                    <label class="profile-username">{{userName}}</label>
                </div>
                <div>
                    <label class="profile-email">{{userEmail}}</label>
                </div>
                <div style="width:300px">
                    <hr>
                </div>
                <div flow-drop>
                    <img flow-img="$flow.files[0]" ng-src="{{userAvatar}}" width="300px" height="300px">
                </div>
                <div class="col-sm-12" style="padding-left:0px">
                <span class="btn fa fa-pencil fa-2x profile-edit-button" flow-btn></span>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="row">
                    <label class="profile-restrictions">Restricciones Alimenticias</label>
                </div>
                <div ng-repeat="restriction in restrictions" ng-if="$index % 2 == 0" class="row">
                    <div class="col-sm-6">
                        <label class="restrictionItem">
                            <input
                                    type="checkbox"
                                    name="selectedRestrictions[]"
                                    value="{{restrictions[$index].name}}"
                                    ng-checked="restrictionsSelection.indexOf(restrictions[$index].name) > -1"
                                    ng-click="toggleSelection(restrictions[$index].name)"
                            > {{restrictions[$index].name}}
                        </label>
                    </div>
                    <div class="col-sm-6" ng-if="restrictions.length > ($index + 1)">
                        <label class="restrictionItem">
                            <input
                                    type="checkbox"
                                    name="selectedRestrictions[]"
                                    value="{{restrictions[$index+1].name}}"
                                    ng-checked="restrictionsSelection.indexOf(restrictions[$index+1].name) > -1"
                                    ng-click="toggleSelection(restrictions[$index+1].name)"
                            > {{restrictions[$index+1].name}}
                        </label>
                    </div>
                </div>
                <!--<div class="row">
                    <label class="profile-restrictions">Categorias Excluidas</label>
                    <tags-input ng-model="excludedCategories">
                        <auto-complete source="loadExcludedCategories($query)"></auto-complete>
                    </tags-input>
                </div>-->
                <div class="row">
                    <label class="profile-restrictions">Ingredientes Excluidos</label>
                    <tags-input ng-model="excludedIngredients" display-property="name" add-from-autocomplete-only="true">
                        <auto-complete  highlight-matched-text = false min-length="1" source="loadExcludedIngredients($query)"></auto-complete>
                    </tags-input>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-md-12" style="padding-top: 20px;">
                <div class="row panel-align" style="margin-right:0px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title text-center">Mis Recetas</h3>
                        </div>
                        <div class="panel-body">

                                <div class="col-xs-6 col-md-3 userRecipe" ng-repeat="recipe in userRecipes" style="text-align:center">
                                    <label>
                                        {{recipe.name}}
                                    </label>
                                    <a class="thumbnail">
                                        <img ng-src="{{recipe.photo}}" alt="...">
                                    </a>
                                    <div class="recipeEdit">
                                        <a href="">Editar</a>
                                    </div>
                                </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<!--
El usuario ingresa los siguientes datos:
Nombre y Apellido.
Género.
Fecha de nacimiento.
Foto.
Dirección de email.
Contraseña.
Nombre de usuario.
El usuario selecciona los ingredientes que desea excluir en la búsqueda de una receta.
El usuario selecciona los categorías que desea excluir en la búsqueda de una receta.
El usuario selecciona restricciones alimenticias.
El usuario selecciona el botón Registrar.
-->