<div class="container" style="padding-top: 90px;">
    <div class="pull-left profile-username margin-bottom-20">
        <h2>{{profile.username}}</h2>
    </div>
</div>
<div class="shop-product">
    <div class="container">
        <div class="row">
            <div flow-init class="col-sm-4">
                <div flow-drop>
                    <img class="img-rounded img-responsive" flow-img="$flow.files[0]"
                         flow-file-added="addedPhoto($file, $event, $flow)" ng-src="{{profile.avatar}}"
                         width="300px" height="300px">
                </div>
                <div class="col-sm-12" style="padding-left:0px">
                    <span class="btn fa fa-pencil fa-2x profile-edit-button" flow-btn></span>
                </div>
                <div>
                    <h3>Email</h3>
                </div>
                <div>
                    <label class="profile-email">{{profile.email}}</label>
                </div>
                <div>
                    <h3>Fecha de Nacimiento</h3>
                </div>
                <div>
                    <label class="profile-email">{{birthdate}}</label>
                </div>
                <div>
                    <button type="button" class="btn btn-danger" ng-click="disable()"> Cerrar Cuenta</button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="shop-product-heading">
                    <h2>Restricciones Alimenticias</h2>
                </div>
                <div class="panel-group" ng-click="updateRestrictions()">
                    <div class="panel panel-default">
                        <div class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="list-unstyled checkbox-list">
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="profile.celiac">
                                            <i></i>
                                            Celíaco
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="profile.vegan">
                                            <i></i>
                                            Vegano
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="profile.vegetarian">
                                            <i></i>
                                            Vegetariano
                                        </label>
                                    </li>
                                    <li>
                                        <label class="checkbox">
                                            <input type="checkbox" ng-model="profile.diabetic">
                                            <i></i>
                                            Diabético
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div ng-repeat="restriction in restrictions" ng-if="$index % 2 == 0" class="row">
                <div class="col-sm-6">
                    <label class="restrictionItem">
                            <input
                                    type="checkbox"
                                    name="selectedRestrictions[]"
                                    value="{{restrictions[$index].name}}"
                                    ng-checked="profile.restrictions.indexOf(restrictions[$index].name) > -1"
                                    ng-click="toggleSelection(restrictions[$index].name)"
                            > {{restrictions[$index].name}}
                        </label>
                </div>
                <div class="col-sm-6" ng-if="restrictions.length > ($index + 1)">
                    <label class="restrictionItem">
                            <input
                                    type="checkbox"
                                    name="selectedRestrictions[]"
                                    value="{{restrictions[$index+1].name}}"
                                    ng-checked="profile.restrictions.indexOf(restrictions[$index+1].name) > -1"
                                    ng-click="toggleSelection(restrictions[$index+1].name)"
                            > {{restrictions[$index+1].name}}
                        </label>
                </div>
           </div>-->

                <div class="shop-product-heading">
                    <h2>Categorias Excluidas</h2>
                </div>
                <tags-input ng-model="profile.categories" display-property="name" add-from-autocomplete-only="true"
                            on-tag-added="addCategoryToUser($tag)"
                            on-tag-removed="removeCategoryOfUser($tag)">
                    <auto-complete highlight-matched-text=false min-length="1"
                                   source="loadExcludedCategories($query)"></auto-complete>
                </tags-input>
                <div class="shop-product-heading">
                    <h2>Ingredientes Excluidos</h2>
                </div>
                <tags-input ng-model="profile.ingredients" display-property="name" add-from-autocomplete-only="true"
                        on-tag-added="addIngredientToUser($tag)"
                        on-tag-removed = "removeIngredientOfUser($tag)">
                    <auto-complete highlight-matched-text=false min-length="1"
                                   source="loadExcludedIngredients($query)"></auto-complete>
                </tags-input>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-top: 20px;">
            <div class="row panel-align" style="margin-right:0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Mis Recetas</h3>
                    </div>
                    <div class="panel-body">

                        <div class="col-md-3 userRecipe" ng-repeat="recipe in profile.recipes"
                             style="text-align:center">
                            <a href="#/recipe/{{recipe.id}}/detail"><h3 style="height:54px ;cursor:pointer">
                                {{recipe.name}}
                            </h3></a>
                            <a class="thumbnail">
                                <div back-img image="recipe.image_url" class="userRecipe-image"></div>
                            </a>
                            <div ng-if="recipe.validated" class="recipeEdit">
                                <a href="#/recipe/{{recipe.id}}/edit"> Editar</a>
                            </div>
                        </div>
                        <div ng-if="!profile.recipes.length > 0">
                            <p><span>No tienes Recetas creadas </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-top: 20px;">
            <div class="row panel-align" style="margin-right:0px;">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Mis Insignias</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-xs-6 col-md-3" ng-repeat="badge in badges"
                             style="text-align:center">
                            <div>
                                <img ng-src="{{badge.image_url}}"/>
                            </div>
                            <h3>
                                {{badge.name}}
                            </h3>
                            <h5>
                                {{badge.description}}
                            </h5>
                            <!--<a class="thumbnail">-->
                            <!--<img ng-src="{{recipe.image_url}}" alt="...">-->
                            <!--</a>-->
                        </div>
                        <div ng-if="!badges.length > 0">
                            <p><span>No tienes insignias </span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>