<div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <a>
                <!--<img class="img-responsive sm-margin-bottom-20" style="width: 240px;" src="assets/img/blog/16.jpg" alt="">-->
                <img ng-src="{{recipe.image_url}}" class="img-responsive" alt="Responsive image">
            </a>
        </div>
        <div class="col-sm-8 col-sm-offset-2 product-description">
            <div class="overflow-h margin-bottom-5">
                <ul class="list-inline overflow-h">
                    <li>
                        <h4 class="title-price "><span>Rating</span></h4>
                    </li>
                    <li>
                        <ul class="list-inline product-ratings">
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating-selected fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                            <li><i class="rating fa fa-star"></i></li>
                        </ul>
                    </li>
                </ul>
                <div class="margin-bottom-10">
                    <span class="title-price margin-right-10">Descripcion</span>
                </div>
                <div>
                    <textarea readonly id="item" class="detail-step" msd-elastic ng-model="recipe.description">
                    </textarea>
                </div>
                <ul class="list-inline add-to-wishlist margin-bottom-20">
                    <li class="wishlist-in">
                        <i class="fa fa-heart"></i>
                        <a href="" ng-click="addToFavorites()">Agregar a favoritos</a>
                    </li>
                </ul>
                <div>
                    <tags-input ng-model="restrictions" ng-readonly="true" placeholder="."></tags-input>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="heading heading-v2">
        <h2>Ingredientes</h3>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <ul style="list-style-type:none;">
                        <li ng-repeat="ing in ingredients track by $index">
                            <ul class="list-inline product-ratings">
                                <li>
                                    <h4 class="title-price">{{ing.amount}}</h4>
                                </li>
                                <li>
                                    <h4 class="title-price">{{ing.unit}}</h4>
                                </li>
                                <li>
                                    <h4>de</h4>
                                </li>
                                <li>
                                    <h4 class="title-price"> {{ing.name}} </h4>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding-top: 20px;">
        <div class="heading heading-v2">
            <h2>Procedimiento</h2>
        </div>
        <div class="steps-container">
            <div class="" ng-repeat="step in recipe.steps track by $index">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <textarea readonly id="item" class="detail-step" msd-elastic ng-model="step">
                                </textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="padding-top: 20px;">
        <div class="heading heading-v2">
            <h2><span>Tips</span></h2>
        </div>
        <div>
            <div style="padding-bottom:20px;" class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <textarea placeholder="Escriba su Tip..." msd-elastic ng-model="tipToAdd" class="tip-area form-control"></textarea>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn-u btn-u-sea-shop " ng-click="addTip(tipToAdd)">Agregar</button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn-u btn-u-sea-shop " ng-click="cancelTip(tipToAdd)">Cancelar</button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 20px; margin-bottom: 20px;">
                <div class="list-product-description product-description-brd margin-bottom-30" ng-repeat="tip in tips track by $index">
                    <div>{{tip.username}} agrega:  </div>
                    <textarea readonly id="item" class="detail-step" msd-elastic ng-model="tip.description">
                                </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
</div>