<link href="/public/stylesheets/register.css" type="text/css">
<!--=== Register ===-->
<div class="log-reg-v3 content-md margin-bottom-30" style="margin-top:40px">
    <div class="container">
        <div class="row" style="text-align:center">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="welcome-title">Bienvenidos a SmartCook</h2>
                <p>Registrese y disfrute de todas las funcionalidades de la aplicacion de manera gratuita.</p><br>
            </div>
        </div>
        <div class="row">

            <div class="col-md-6 col-md-offset-3">
                <form name="userForm" ng-submit="validateForm(userForm.$valid)" id="userForm" class="log-reg-block sky-form">
                    <h2>Crear Nuevo Usuario</h2>

                    <div class="login-input reg-input">
                        <div class="row">
                            <div class="col-sm-6">
                                <section>
                                    <label class="input">
                                        <input type="text" name="firstname" placeholder="Primer Nombre" required
                                               class="form-control" ng-model="user.firstName">
                                    </label>
                                </section>
                            </div>
                            <div class="col-sm-6">
                                <section>
                                    <label class="input">
                                        <input type="text" name="lastname" placeholder="Apellido" required
                                               class="form-control" ng-model="user.lastName">
                                    </label>
                                </section>
                            </div>
                        </div>
                        <label class="select margin-bottom-15">
                            <select name="gender" class="form-control" required>
                                <option value="0" selected disabled>Genero</option>
                                <option value="1">Hombre</option>
                                <option value="2">Mujer</option>
                                <option value="3">Otro</option>
                            </select>
                        </label>
                        <div class="row margin-bottom-10">
                            <div class="col-sm-12">
                                <p class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="{{format}}"  min-date ="minDate" max-date = "registerMaxDate"
                                           ng-model="user.dateOfBirth" is-open="opened" datepicker-options="dateOptions" ng-click="openDatepicker($event)"
                                           ng-required="true" close-text="Cerrar" readonly/>
                                <span class="input-group-btn">
                                  <button type="button" class="btn btn-default" ng-click="openDatepicker($event)" style="height: 40.142858000000004px">
                                      <i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                                </p>
                            </div>
                        </div>
                        <section>
                            <label class="input">
                                <input ng-model="user.userName" type="text" name="username" required
                                       placeholder="Nombre de Usuario" class="form-control" maxlength="20">
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <input ng-model="user.email" type="email" name="email" placeholder="Direccion Email" required
                                       class="form-control">
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <input ng-model="user.password" type="password" name="password" placeholder="Contraseña" required
                                       id="password"
                                       class="form-control">
                            </label>
                        </section>
                        <section>
                            <label class="input">
                                <input type="password" name="passwordConfirm" placeholder="Confirme Contraseña" required
                                       class="form-control">
                            </label>
                        </section>
                    </div>

                    <!--<label class="checkbox margin-bottom-20">-->
                    <!--<input type="checkbox" name="checkbox"/>-->
                    <!--<i></i>-->
                    <!--I have read agreed with the <a href="#">terms &amp; conditions</a>-->
                    <!--</label>-->
                    <button class="btn-u btn-u-sea-shop btn-block margin-bottom-20" type="submit">Crear Usuario</button>
                    <p ng-show="(userForm.$invalid || !genderSelected() || hasErrors()) && submitted" style="color:red;">Los datos ingresados son invalidos</p>
                </form>

                <div class="margin-bottom-20"></div>
                <p class="text-center">Ya tenes una cuenta? <a href="#/login">Inicia Sesion</a></p>
            </div>
        </div><!--/end row-->
    </div><!--/end container-->
</div>
<!--=== End Registre ===-->

<!--=== Shop Suvbscribe ===-->
<div class="shop-subscribe">
    <div class="container">
        <div class="row">
            <div class="col-md-8 md-margin-bottom-20">
                <h2> No pierdas tiempo y convertite en un <strong>SmartCook</strong></h2>
            </div>
        </div>
    </div><!--/end container-->
</div>
<!--=== End Shop Suvbscribe ===-->