<div class="container" style="padding-top: 90px;">
    <div class="content container">
        <img class="col-sm-12 img-responsive" src="img/banner-toprestricciones.png" style="padding: 0;"/>
        <div class="row">
            <div class="col-sm-3 col-xs-6 topCategories-category" ng-click="clickCategory($event,'diabetic');">
                <img class="img-responsive" src="img/diabetes.png" alt="Categoria Diabetico">
                <h3 class="text-uppercase">Diabetico</h3>
            </div>
            <div class="col-sm-3 col-xs-6 topCategories-category" ng-click="clickCategory($event,'vegetarian');">
                <img class="img-responsive" src="img/vegetarianismo.jpg" alt="Categoria Vegetariano">
                <h3 class="text-uppercase">Vegetariano</h3>
            </div>
            <div class="col-sm-3 col-xs-6 topCategories-category" ng-click="clickCategory($event,'vegan');">
                <img class="img-responsive" src="img/veganismo.png" alt="Categoria Vegano">
                <h3 class="text-uppercase">Vegano</h3>
            </div>
            <div class="col-sm-3 col-xs-6 topCategories-category" ng-click="clickCategory($event,'celiac');">
                <img class="img-responsive" src="img/celiaquismo.jpg" alt="Categoria Celiaco">
                <h3 class="text-uppercase">Celiaco</h3>
            </div>
        </div>
        <div class="row" ng-if="hasSelectedCategory">
            <div class="col-md-12">
                <div class="filter-results">
                    <div class="list-product-description product-description-brd margin-bottom-30"
                         ng-repeat="recipe in topRecipes | orderBy:'-stars' | limitTo:10">
                        <div class="row">
                            <div class="col-sm-4">
                                <a>
                                    <div back-img image="recipe.image_url" style="height:290px"></div>
                                </a>
                            </div>
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a class="text-uppercase">{{recipe.name}}</a>
                                            </h4></li>
                                        <li class="pull-right">
                                            <input-stars class="userVotedStar" ng-if="userVote(recipe) != null" max="5" ng-model="getUserVote(recipe)" ng-model-options="{getterSetter: true }" readonly></input-stars>
                                            <input-stars ng-if="userVote(recipe) == null" max="5" on-star-click="voteRecipe(recipe)" ng-model="recipe.stars" ng-attr-readonly="{{ !isLogged }}" ng-click="isConnected()"></input-stars>
                                        </li>
                                    </ul>
                                    <p class="margin-bottom-20" style="height: 100px;">{{recipe.description}}</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li>
                                            <button type="button" class="btn-u btn-u-sea-shop"
                                                    ng-click="getDetailsRecipe(recipe.id)">
                                                Ver receta
                                            </button>
                                        </li>
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <!--<a >Agregar a favoritos</a>-->
                                            <a ng-if="isFavorite(recipe)" ng-click="removeFromFavorites(recipe)"
                                               style="cursor: pointer;">Remover de favoritos</a>
                                            <a ng-if="!isFavorite(recipe)" ng-click="addToFavorites(recipe)"
                                               style="cursor: pointer;">Agregar a favoritos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/end filter resilts-->

            </div>
        </div><!--/end row-->
    </div><!--/end container-->

</div>