<div class="container" style="padding-top: 90px;">
    <div class="content container">
        <img class="col-sm-12 img-responsive" src="img/banner-topcalificadas.jpg" style="padding: 0;"/>
        <div class="row">
            <div class="col-md-12">
                <div class="filter-results">
                    <div class="list-product-description product-description-brd margin-bottom-30"
                         ng-repeat="recipe in recipes | orderBy:'-stars' | limitTo:10">
                        <div class="row">
                            <div class="col-sm-4">
                                <a>
                                    <div back-img image="recipe.image_url" style="height:290px"></div>
                                </a>
                            </div>
                            <div class="col-sm-8 product-description">
                                <div class="overflow-h margin-bottom-5">
                                    <ul class="list-inline overflow-h">
                                        <li><h4 class="title-price"><a class="text-uppercase">{{recipe.name}}</a>
                                            </h4></li>
                                    </ul>
                                    <div class="margin-bottom-10">
                                        <ul class="list-inline product-ratings">
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating fa fa-star"></i></li>
                                            <li><i class="rating fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <p class="margin-bottom-20" style="height: 100px;">{{recipe.description}}</p>
                                    <ul class="list-inline add-to-wishlist margin-bottom-20">
                                        <li>
                                            <button type="button" class="btn-u btn-u-sea-shop" ng-click="getDetailsRecipe(recipe.id)">
                                                Ver receta</button>
                                        </li>
                                        <li class="wishlist-in">
                                            <i class="fa fa-heart"></i>
                                            <!--<a >Agregar a favoritos</a>-->
                                            <a ng-if="isFavorite(recipe)" ng-click="removeFromFavorites(recipe)"
                                               style="cursor: pointer;">Remover de favoritos</a>
                                            <a ng-if="!isFavorite(recipe)" ng-click="addToFavorites(recipe)"
                                               style="cursor: pointer;">Agregar a favoritos</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--/end filter resilts-->

            </div>
        </div><!--/end row-->
    </div><!--/end container-->


</div>