<!--=== Content Part ===-->
<div class="content container">
    <div class="container" style="padding-top: 90px;">
        <div class="row row-eq-height">
            <div class="col-xs-1 validateRecipe-check" ng-click="nextRecipe();"></div>
            <div class="col-xs-10 validateRecipe-Recipe">
                <div class="row validateRecipe-Title"><h4>{{validateCurrentRecipe.name}}</h4></div>
                <div class="row validateRecipe-Image">
                    <div style="background-image: url({{validateCurrentRecipe.image_url}}); height:290px; background-position:center;background-size: cover;"></div>
                </div>
                <div class="row validateRecipe-Description"><h5>{{validateCurrentRecipe.description}}</h5></div>
            </div>
            <div class="col-xs-1 validateRecipe-cross" ng-click="nextRecipe();"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="filter-results">
                <div class="list-product-description product-description-brd margin-bottom-30"
                     ng-repeat="recipe in recipes">
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="shop-ui-inner.html">
                                <div style="background-image: url({{recipe.image_url}}); height:290px; background-position:center;background-size: cover;"></div>
                            </a>
                        </div>
                        <div class="col-sm-8 product-description">
                            <div class="overflow-h margin-bottom-5">
                                <ul class="list-inline overflow-h">
                                    <li><h4 class="title-price"><a href="shop-ui-inner.html" class="text-uppercase">{{recipe.name}}</a>
                                    </h4></li>
                                    <li class="pull-right">
                                        <ul class="list-inline product-ratings">
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating-selected fa fa-star"></i></li>
                                            <li><i class="rating fa fa-star"></i></li>
                                            <li><i class="rating fa fa-star"></i></li>
                                        </ul>
                                    </li>
                                </ul>
                                <div class="margin-bottom-10">
                                    <span class="title-price margin-right-10">$60.00</span>
                                    <span class="title-price line-through">$95.00</span>
                                </div>
                                <p class="margin-bottom-20" style="height: 100px;">{{recipe.description}}</p>
                                <ul class="list-inline add-to-wishlist margin-bottom-20">
                                    <li class="wishlist-in">
                                        <i class="fa fa-heart"></i>
                                        <a href="#">Agregar a favoritos</a>
                                    </li>
                                    <li class="compare-in">
                                        <i class="fa fa-exchange"></i>
                                        <a href="#">Add to Compare</a>
                                    </li>
                                </ul>
                                <button type="button" class="btn-u btn-u-sea-shop">Ver receta</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/end filter resilts-->

        </div>
    </div><!--/end row-->
</div><!--/end container-->
<!--=== End Content Part ===-->
