<!--=== Content Part ===-->
<div class="content container">
    <div class="container" style="padding-top: 90px;">
        <div class="row" style="margin-bottom:10px" validate-menu="fixed-menu" ng-if="!noRecipesToValidate">
            <div class="col-md-offset-3 col-md-6" style="text-align: center;">
                <button type="button" ng-click="nextRecipe(1)" class="bootstro menu-button  btn-u btn-u-md btn-u-sea-shop">Me encanta!! </button>
                <button type="button" class="menu-button validateRecipe-skip btn-u  btn-u-md btn-u-sea-shop " ng-click="skip()">Dejame Pensar</button>
                <button type="button" class="  menu-button validateRecipe-cross btn-u btn-u-md btn-u-sea-shop" ng-click="nextRecipe(0)">No está bueno</button>
            </div>
        </div>
        <div class="row validateRecipe-Recipe">
            <div class="row validateRecipe-Title">
                <h4>{{validateCurrentRecipe.name}}</h4>
            </div>
            <div class="row validateRecipe-Image" ng-hide="noRecipesToValidate">
                <img back-img="{{validateCurrentRecipe.image_url}}" style="height:290px; width: 450px;">
            </div>
            <div class="row validateRecipe-Description">
                <h5>{{validateCurrentRecipe.description}}</h5>
            </div>
            <!--INGREDIENTES-->
            <div class="row">
                <div class="heading heading-v2">
                    <h2 ng-show="validateCurrentRecipe.ingredients.length > 0">Ingredientes</h2>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <ul style="list-style-type:none;">
                                    <li ng-repeat="ing in validateCurrentRecipe.ingredients track by $index">
                                        <ul class="list-inline product-ratings">
                                            <li>
                                                <h4 class="title-price"> {{ing.name}} </h4>
                                            </li>
                                            <li>
                                                <h4 class="title-price">{{ing.amount}}</h4>
                                            </li>
                                            <li>
                                                <h4 class="title-price">{{ing.unit.name}}</h4>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>
            </div>
            <!--PASOS-->
            <div class="row">
                <div class="col-md-12" style="padding-top: 20px;">
                    <div class="heading heading-v2">
                        <h2 ng-show="validateCurrentRecipe.steps.length > 0">Procedimiento</h2>
                    </div>
                    <div class="steps-container">
                        <div class="" ng-repeat="step in validateCurrentRecipe.steps track by $index">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <textarea readonly id="item" class="detail-step" msd-elastic ng-model="step">
                                </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1 ng-show="noRecipesToValidate">Felicidades, no tiene recetas por validar. Gracias por ayudar a la comunidad</h1>
    </div>
</div>
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="filter-results">-->
<!--<div class="list-product-description product-description-brd margin-bottom-30"-->
<!--ng-repeat="recipe in recipes">-->
<!--<div class="row">-->
<!--<div class="col-sm-4">-->
<!--<a href="shop-ui-inner.html">-->
<!--<div style="background-image: url({{recipe.image_url}}); height:290px; background-position:center;background-size: cover;"></div>-->
<!--</a>-->
<!--</div>-->
<!--<div class="col-sm-8 product-description">-->
<!--<div class="overflow-h margin-bottom-5">-->
<!--<ul class="list-inline overflow-h">-->
<!--<li><h4 class="title-price"><a href="shop-ui-inner.html" class="text-uppercase">{{recipe.name}}</a>-->
<!--</h4></li>-->
<!--<li class="pull-right">-->
<!--<ul class="list-inline product-ratings">-->
<!--<li><i class="rating-selected fa fa-star"></i></li>-->
<!--<li><i class="rating-selected fa fa-star"></i></li>-->
<!--<li><i class="rating-selected fa fa-star"></i></li>-->
<!--<li><i class="rating fa fa-star"></i></li>-->
<!--<li><i class="rating fa fa-star"></i></li>-->
<!--</ul>-->
<!--</li>-->
<!--</ul>-->
<!--<div class="margin-bottom-10">-->
<!--<span class="title-price margin-right-10">$60.00</span>-->
<!--<span class="title-price line-through">$95.00</span>-->
<!--</div>-->
<!--<p class="margin-bottom-20" style="height: 100px;">{{recipe.description}}</p>-->
<!--<ul class="list-inline add-to-wishlist margin-bottom-20">-->
<!--<li class="wishlist-in">-->
<!--<i class="fa fa-heart"></i>-->
<!--<a href="#">Agregar a favoritos</a>-->
<!--</li>-->
<!--<li class="compare-in">-->
<!--<i class="fa fa-exchange"></i>-->
<!--<a href="#">Add to Compare</a>-->
<!--</li>-->
<!--</ul>-->
<!--<button type="button" class="btn-u btn-u-sea-shop">Ver receta</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>&lt;!&ndash;/end filter resilts&ndash;&gt;-->

<!--</div>-->
<!--</div>&lt;!&ndash;/end row&ndash;&gt;-->
<!--/end container-->
<!--=== End Content Part ===-->