<div class="modal-header">
    <h3 class="modal-title"></h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-4">
            <a>
                <!--<img class="img-responsive sm-margin-bottom-20" style="width: 240px;" src="assets/img/blog/16.jpg" alt="">-->
                <div style="background-image: url({{ingredient.image_url}}); height:290px; background-position:center;background-size: cover;"></div>
            </a>
        </div>
        <div class="col-sm-8 product-description">
            <div class="overflow-h margin-bottom-5">
                <ul class="list-inline overflow-h">
                    <li>
                        <h4 class="title-price"><a class="text-uppercase">{{ingredient.name}}</a></h4>
                    </li>
                </ul>
                <div class="margin-bottom-10">
                    <span class="title-price margin-right-10">Calorias: </span>
                    <span class="title-price">{{ingredient.calories}} cals</span>
                </div>
                <div class="margin-bottom-10">
                    <span class="title-price margin-right-10">Categoria: </span>
                    <span class="title-price">{{ingredient.food_category.name}}</span>
                </div>
                <div class="margin-bottom-10">
                    <span class="title-price margin-right-10">Carbohidratos: </span>
                    <span class="title-price">{{ingredient.carbohydrates}}</span>
                </div>
                 <div class="margin-bottom-10">
                    <span class="title-price margin-right-10">Grasas: </span>
                    <span class="title-price">{{ingredient.fats}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn-u btn-u-sea-shop btn-u-sm" type="button" ng-click="ok()">Cerrar</button>
</div>

<!--
calories
carbohydrates
celiac

diabetic

fats
:
100
food_category_id
:
1
id
:
125
image_url
:
"https://imgsmartcook.blob.core.windows.net/ingredients/aceite-girasol.jpg"
name
:
"Aceite(Girasol)"
proteins
:
0
vegan
:
true
vegetarian
:
true
-->